.seo-card {
    background-color: #f9b400;
    border-radius: 12px;
    padding: 30px 20px;
    text-align: center;
    transition: all 0.3s ease;
    height: 328px;


    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .seo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .seo-icon {
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    font-size: 30px;
    color: #f9b400;
  }

  .seo-btn {
    margin-top: 20px;
    padding: 8px 20px;
    background: #25D366;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
  }

  .seo-btn:hover {
    color: #fff;
    background: #25D366;
    transition: background 0.3s ease;
  }